<ion-header>

  <ion-navbar>
    <ion-title>Confirmação Cadastral</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    Por favor, insira o código de verificação que você recebeu por e-mail.
  </div>
  <form [formGroup]="confirmForm">
    <ion-item>
      <ion-label floating>Código de confirmação</ion-label>
      <ion-input formControlName="confirmationCode" type="text" autocapitalize="none"></ion-input>
    </ion-item>
    <ion-item *ngIf="!confirmForm.controls['confirmationCode'].valid && (confirmForm.controls['confirmationCode'].dirty || submitAttempt)">
        <p class="error" *ngIf="confirmForm.controls['confirmationCode'].errors.required">{{ validation_messages.confirmationCode[0].message }}</p>
        <p class="error" *ngIf="confirmForm.controls['confirmationCode'].errors.minlength">{{ validation_messages.confirmationCode[1].message }}</p>
    </ion-item>
    <div padding>
        <button ion-button block color="primary" class="login" (click)="confirm()">Confirmar</button>
    </div>
    <div class="or rounded-x">ou</div>
    <div padding>
        <button ion-button block color="primary" (click)="resend()">Reenviar código</button>
    </div>
  </form>
</ion-content>
