
<ion-header>

  <ion-toolbar>
    <ion-title>Alterar Senha</ion-title>
    <ion-buttons start>
        <button ion-button (click)="cancel()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android, windows, core"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="save()" [disabled]="!profileForm.valid">
          <span ion-text color="primary">Salvar</span>
        </button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="profileForm">
    <ion-item>
      <ion-label floating>Senha Atual</ion-label>
      <ion-input formControlName="oldPassword" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls['oldPassword'].valid && profileForm.controls['oldPassword'].errors && profileForm.controls['oldPassword'].touched">
      <p class="error" *ngIf="profileForm.controls['oldPassword'].errors.required">{{ validation_messages.oldPassword[0].message }}</p>
      <p class="error" *ngIf="profileForm.controls['oldPassword'].errors.minlength">{{ validation_messages.oldPassword[1].message }}</p>
    </ion-item>
    <ion-item>
      <ion-label floating>Nova Senha</ion-label>
      <ion-input formControlName="newPassword" type="password" validateEqual="retype" reverse="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls['newPassword'].valid && profileForm.controls['newPassword'].errors && profileForm.controls['newPassword'].touched">
      <p class="error" *ngIf="profileForm.controls['newPassword'].errors.required">{{ validation_messages.newPassword[0].message }}</p>
      <p class="error" *ngIf="profileForm.controls['newPassword'].errors.minlength">{{ validation_messages.newPassword[1].message }}</p>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirmar Senha</ion-label>
      <ion-input formControlName="retype" type="password" validateEqual="newPassword" reverse="false"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls['retype'].valid && profileForm.controls['retype'].errors && profileForm.controls['retype'].touched">
      <p class="error" *ngIf="profileForm.controls['retype'].errors.required">{{ validation_messages.retype[0].message }}</p>
      <p class="error" *ngIf="profileForm.controls['retype'].errors.validateEqual">{{ validation_messages.retype[1].message }}</p>
    </ion-item>
  </form>
</ion-content>
