.back-container{
    background-image: url('../assets/imgs/fundo-interno.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}

.title-card{
    font-size: 25px;
}

.img-card{
    width: 120px;
    float: right;
}

.my-card-back{
    background: #fff !important;
    border-bottom: none;
    text-align: left;
}

.color-desc{
    color: #2e4c63 !important;
}

.subtitle-card{
    font-size: 26px;
}

.img-elo{
    width: 100px !important;
}

.my-card-border{
    border-top: none !important;
}

.link-number{
    font-size:23px;
}

.card-sub{
    background: #fff;
    border-bottom: none;
}

.icon-sub{
    border-top: none;
    padding: 10px;
}

.slide-my-card{
    height: auto;
}

.title-my-card{
    padding-left: 15px;
}